@keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.home-container {
    padding: 4rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.intro-section {
    text-align: center;
    margin-bottom: 3rem;
}

.intro-section h1 {
    font-size: 2.8rem;
    margin-bottom: 1.5rem;
    color: #333;  /* Couleur par défaut pour le light mode */
}

.home-container.dark-mode .intro-section h1 {
    color: #fff;  /* Couleur pour le dark mode */
}

.intro-section p {
    font-size: 1.2rem;
    line-height: 1.6;
}

.blinking-cursor {
    animation: blink 1s infinite;
}
.fullpage-section {
    min-height: 100vh; /* Fait en sorte que chaque section prenne toute la hauteur de la fenêtre */
    width: 100%;
    overflow: hidden; /* Pour éviter tout débordement inattendu */
}
