.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #333;
    color: #fff;
    height: auto; 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    flex-direction: column; 
}
.top-controls {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.branding {
    position: static; 
    bottom: auto; 
    left: auto; 
    width: 100px; 
    height: 100px;
    z-index: 1;
    margin-bottom: 1rem; 
    flex-grow: 1;
    display: flex;
    justify-content: center; 
}

.profile-image {
    margin-right: 0;
    margin-top: 0;
    width: 60p;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    display: block;
}

.navigation {
    display: flex;
    gap: 1.5rem;
    z-index: 2;
    flex-grow: 1;
    justify-content: flex-end;
    flex-direction: column; 
    align-items: flex-end;
    max-height: 0;  
    overflow: hidden; 
    transition: max-height 0.3s ease-in-out; 
}

.navigation.open {
    max-height: 300px;  
}

.navigation a {
    text-decoration: none;
    color: #fff;
    transition: color 0.2s ease;
}

.navigation a:hover {
    color: #ddd;
}

.active-link {
    color: #ff9900;
    border-bottom: 2px solid #ff9900;
}

.dark-mode-toggle {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 0.7rem 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    margin-left: 10px;
}

.dark-mode-toggle:hover {
    background-color: #444;
}

svg {
    position: relative;
    width: 24px;
    height: 24px;
    z-index: 100;
    fill: #fff;
}

.sun {
    fill: #fff;
}

.moon {
    fill: #7e7e7e;
}

body.dark-mode .dark-mode-toggle .sun {
    fill: #7e7e7e;
}

body.dark-mode .dark-mode-toggle .moon {
    fill: #fff;
}



@media screen and (min-width: 768px) {
    .header-container {
        flex-direction: row; /* direction flex pour tablette/desktop */
    }
    
    .top-controls {
        margin-bottom: 0;
    }

    .branding {
        flex-grow: 0;
        position: absolute;
        bottom: -4rem; 
        width: 150px; 
        height: 150px;
        margin-bottom: 0;
    }

    .navigation {
        flex-direction: row; 
        max-height: none;  
        overflow: visible; 
}

@media screen and (min-width: 1024px) {
    .branding {
        bottom: -6rem; 
        left: 1rem;  
        width: 200px; 
        height: 200px;
    }
}

}